{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cacao Fermentation Dashboard</title>
    <link rel="stylesheet" type="text/css" href="{% static '/css/bases.css' %}">
    <link rel="icon" type="image/png" href="{% static 'images/logo.png' %}">

</head>
<body>
    
    <div class="navigation-bar">
        
        <div class="bubble-nav">
            
        </div>
        <div class="logo" >

            <div class="logo-img"style="background-image: url({% static 'images/logo.png' %});">

            </div>
        </div>

        <div class="nav-icons">
            <div class="bubble-img"style="background-image: url({% static 'images/navigation-bubble.png' %});">

            </div>
            <a href="/">
                <div class="dashboard">
                    <div class="icon-img"style="background-image: url({% static 'images/dashboard.png' %});">
    
                    </div>
                </div>
            </a>
            <a href="/boxes">
                <div class="boxes" >
                    <div class="icon-img"style="background-image: url({% static 'images/pallets.png' %});">
    
                    </div>
                </div>
            </a>
            
            <a href="/connection">
                <div class="connection">
                    <div class="icon-img"style="background-image: url({% static 'images/connections.png' %});">
    
                    </div>
                </div>
            </a>
            

            <div class="refresh">
                <div class="refresh-img"style="background-image: url({% static 'images/refresh.png' %});">

                </div>
            </div>

        </div>
    </div>
    <div class="content-view">
        {% block content %}
    
        {% endblock content %}
    </div>
</body>
</html>