h1{
    color: #9BBF82;
    color: #C4D8BF;
    color: #9FBF9A;
    color: #68A77C;
    color: #2D5A3D;
    color: #34724B;
    
}

.chart-color{
    color: #FFC100;
    color: #C356EA;
    color: #8FF243;
    color: #71AEF2;
    color: #EA5645;
}