@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');


.upload-here{
    text-align: center;
    color: white;
    width: 80%;
    margin-left: 10%;
}

.dropzone{
    background-color: #0E1117;
    border: 1px dashed #2D5A3D;
    border-radius: 12px;
    height: fit-content
}

.result{
    width: 80%;
    margin-left: 10%;
    height: 158px;
    background-color: white;
    border: 4px solid #2D5A3D;
    margin-top: 20px;
    border-radius: 12px;    
    font-family: 'Montserrat', sans-serif;

    display: flex;
  justify-content: center; /* Horizontal centering */
  align-items: center; 
}

.image-holder{
    height: 80%;
    aspect-ratio: 1/1;
    border: 1px solid #0E1117;
    border-radius: 10px;
    margin-left: 20px;
    float: left;
    background-size: cover;
    background-repeat: no-repeat;
}

.file-name{
    float: left;
    color: #0E1117;
    margin-left: 20px;
}

.classification-result{
    float: left;
    color: #0E1117;
    margin-left: 20px;

}

.classification-percentage{
    float: left;
    margin-left: 20px;
}

.convert-btn{
    border: 1px solid #2D5A3D;
    background-color: #0E1117;
    padding: 10px;
    border-radius: 8px;
    margin-top: 20px;
    width: 80%;
    margin-left: 10%;
    font-family: 'Montserrat', sans-serif;
}
.convert-btn :hover{
    background-color: #2D5A3D;
}

table, th, td {
    border: 1px solid #0E1117;
    border-collapse: collapse;
    padding: 5px;
    text-align: center;
  }
  th{
    color: #2D5A3D;
  }