{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />
    <link rel="stylesheet" type="text/css" href="{% static '/css/cuttest.css' %}">

    <title>Cut test classifier</title>
</head>
<body>
    <div class="upload-here">
        <p class="p1">Upload your images</p>
        <p class="p2">Only PNG & JPG file format are allowed</p>

        <div class="form-upload">
            <form action="upload/" method="POST"
         class="dropzone"
        id="my-awesome-dropzone">
            {% csrf_token %}
        </form>
        </div>
        <a href="">
            <div class="convert-btn"> Classify </div>
        </a>
        
        
    </div>
    {% for filename, label in classification_data.items %}
            <div class="result">
        
                <div class="image-holder" style="background-image: url({% static 'media/images/' %}{{filename}});">
    
                </div>
                <div class="file-name">
                    <h3>File name: </h3>
                    <h2>{{ filename }}</h2>
                </div>
                <div class="classification-result">
                    <h3>Classification Result: </h3>
                    <h2>{{ label.Classification_Result }}</h2>
                </div>
                <div class="classification-percentage">
                    <table>
                        <tr>
                          <th>Unfermented</th>
                          <th>Under Femented</th>
                          <th>Partially Fermented</th>
                          <th>Fermented</th>
                        </tr>
                        <tr>
                          <td>{{ label.Unfermented }}</td>
                          <td>{{ label.Under_Fermented }}</td>
                          <td>{{ label.Partially_Fermented }}</td>
                          <td>{{ label.Fermented }}</td>
                        </tr>
                      </table>
                </div>
        </div>
    {% endfor %}
    
    
    <script src="{% static '/js/dragndrop.js' %}"></script>
</body>
</html>
{% endblock content %}